@font-face {
	font-family: vazir;
	src: url(../../fonts/vazir-font-v16.1.0/Vazir-Bold.ttf) format(truetype);
}
* {
	margin: 0;
	padding: 0;
	transition: color 0.2s, background-color 0.3s;
}
a {
	text-decoration: none;
	display: inline-block;
	color: royalblue;
	font-family: yekan;
}
button {
	cursor: pointer;
}
a,
li {
	cursor: pointer;
}
li {
	color: #ff5c39;
}
i {
	margin-left: 10px;
}
a:hover {
	color: #f1bd07;
}
span {
	display: block;
}
.w-100 {
	width: 100%;
}
.center {
	text-align: center;
}
.show {
	display: flex !important;
}
.hide {
	display: none !important;
}
input,
textarea {
	border: 0;
	outline: 0;
}
input,
textarea:focus {
	outline: 0;
}
.m-0 {
	margin: 0 !important;
}
h1,
h2,
h3,
h4 {
	font-weight: normal !important;
}
i {
	margin: 0;
}
button {
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2a394b;
	color: #f1bd07;
	font-size: 15px;
	height: 30px;
	transition: 0.3s;
}
button:hover {
	background-color: royalblue !important;
}
body {
	background-color: #ffff;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-family: vazir;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: linear-gradient(g);
	object-fit: contain;
	height: 150px;
	margin-right: 2px;
	width: calc(100% - 302px);
	position: relative;
}
#logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: calc(100% - 60px);
	height: 80%;
	margin: 0 30px;
	padding: 0 10px;
}
#logo-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}
#fa-title {
	font-size: 20px;
	color: #f1bd07;
	font-weight: 500;
	font-family: vazir;
	margin-bottom: 10px;
}
#en-title {
	font-size: 20px;
	font-family: monospace;
	color: black;
}
#logo i {
	font-size: 50px;
	color: #ff5c39;
	margin: 0 !important;
}
#row {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
aside {
	height: 100vh;
	background-color: #2a394b;
	width: 300px;
	position: fixed;
	top: 0;
}
.sidebar-nav {
	height: 100%;
	width: calc(100% - 20px);
	padding: 10px;
}
.sidebar-item {
	width: 100%;
	margin-bottom: 10px;
	list-style-type: none;
}
.sidebar-btn {
	width: 100%;
	padding: 20px 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: none;
	background-color: #455364;
	font-size: 15px;
	color: #f1bd07;
}
.sidebar-btn i {
	color: #ff5c39;
}
main {
	position: relative;
	margin: 0px 300px 0 0px;
	width: calc(100% - 300px);
	min-height: 100vh;
	max-height: fit-content;
}
#main-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: -1;
}
label {
	color: goldenrod;
}
.pannel-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
}
.pannel-section-nav {
	display: flex;
	flex-direction: row;
	width: calc(100% - 60px);
	margin: 0 30px;
}
.pannel-section-ul {
	width: 100%;
}
.pannel-section-item {
	list-style-type: none;
	margin-bottom: 5px;
}
.pannel-section-btn {
	width: 100%;
	padding: 10px 5px;
}
.title {
	font-size: 25px;
	color: #f16957;
	background-color: #455364;
	opacity: 0.9;
	padding-right: 10px;
	border-bottom: 3px solid goldenrod;
	width: calc(70% - 10px);
	text-align: right;
	padding-bottom: 5px;
	font-family: vazir;
	margin: 0 auto 0 auto;
}
#add-post {
	background-color: #5660f2;
	min-height: 100vh;
	max-height: fit-content;
}
#general-info-section {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2px 2px;
	margin-bottom: 60px;
}
#general-info-section input:not([type='file'], [type='checkbox']) {
	width: calc(100% - 10px);
	height: 40px;
	padding: 0 5px;
	text-align: center;
	background-color: #455364;
	color: salmon;
	font-size: 18px;
	font-family: vazir;
	opacity: 0.9;
}
#general-info-checkbox {
	display: flex;
}
#general-info-checkbox label {
	margin: 0 20px 0 10px;
}
#general-info-checkbox input {
	width: 20px;
	height: 20px;
}
#article-sections {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-bottom: 60px;
}
.toolbox {
	width: 70%;
	margin-bottom: 15px;
	display: grid;
	/* grid-template-columns: repeat(8, 1fr); */
	grid-template-columns: repeat(4, 1fr);
	gap: 2px 2px;
}
.toolbox-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	border: 0;
	background-color: #2a394b;
	color: #f1bd07;
	font-size: 15px;
	transition: 0.3s;
	text-align: center;
}
.toolbox-input {
	display: none;
	text-align: center;
}
.article-section {
	margin: 5px 0;
}
.article-section-title {
	width: 100%;
	height: 40px;
	border: 0;
	background-color: #455364;
	text-align: center;
	font-size: 18px;
	color: #ffda5c;
	font-family: vazir;
}
.article-text-input {
	width: calc(100% - 30px);
	height: 200px;
	overflow-y: scroll;
	margin: 1px auto 1px auto;
	background-color: #2a394b;
	padding: 15px;
	border: 0;
	font-size: 18px;
	color: #c973f3;
	opacity: 0.8;
	font-family: vazir;
	resize: none;
}
.article-list-container {
	width: calc(100% - 45px);
	height: 200px;
	overflow-y: scroll;
	margin: 1px auto 1px;
	background-color: #2a394b;
	padding: 15px 30px 15px 15px;
	border: 0;
	font-size: 18px;
	color: #c973f3;
	opacity: 0.8;
	font-family: vazir;
}
.article-list-container:focus {
	border: 0;
	outline: 0;
}
.container-asi {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 40px;
	margin: 1px 0;
}
.container-asi-inner {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #2a394b;
}
.asi-upload {
	margin: 0 5px 0 5px;
}
.asi-alt,
.asi-title,
.asi-caption {
	height: 40px;
	background-color: #455364;
	margin-right: 2px;
	font-size: 15px;
	font-family: vazir;
	color: cyan;
	text-align: center;
}
#article-thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	margin: 15px 0;
	grid-column-start: 1;
	grid-column-end: 3;
}
#container-at-inner {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #2a394b;
	border-radius: 20px;
	/* padding: 5px 0; */
}
#at-caption {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#at-alt,
#at-title,
#at-caption {
	width: 20% !important;
	height: 40px;
	background-color: #455364;
	margin-bottom: 0 !important;
	margin-right: 2px;
	font-size: 15px;
	font-family: vazir;
	color: #c5bebe;
	text-align: center;
}
#at-upload {
	margin: 0 5px 0 5px;
}
.delete-btn {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background-color: crimson;
}
.select-btn {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: royalblue;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f1bd07;
	width: 40px;
	height: 40px;
}
.tag-input-section {
	width: 70%;
	margin-bottom: 60px;
	margin: auto;
}
#tag-input {
	width: calc(100% - 30px);
	min-height: 150px;
	max-height: max-content;
	padding: 15px 15px;
	margin-bottom: 15px;
	background-color: #455364;
	font-size: 18px;
	font-family: vazir;
	color: #c5bebe;
}
.submit-section {
	width: 70%;
	margin-bottom: 60px;
	margin: auto;
}
.submit-section button {
	width: 100%;
	margin-bottom: 15px;
}
#custom-menu {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: fit-content;
	background-color: #2a394b;
	border-radius: 20px;
}
#custom-menu > * {
	width: 100%;
	height: 45px;
	color: #c5bebe;
	font-family: vazir;
	background-color: #455364;
}
#website-settings button {
	background-color: transparent;
}
#website-settings button:hover {
	background-color: transparent !important;
	color: #f1bd07;
	font-size: 22px;
}

#website-info {
	display: flex;
	flex-direction: row;
	background-color: #00749c;
	width: calc(100% - 50px);
	padding: 30px 25px 30px 25px;
}
#website-logo-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-image: url(../Empty.avif);
	overflow: hidden;
}
#website-logo-container:hover :nth-child(2) {
	top: 50%;
}
#website-logo i {
	color: #ff5c39;
	font-size: 80px;
	padding: 0;
	margin: 0;
}
#change-logo-btn {
	position: absolute;
	top: 300px;
	background-color: black;
	opacity: 0.8;
	width: 100%;
	height: 50%;
}
#change-logo-btn:hover {
	background-color: black !important;
}
#website-name-container {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}
#website-name-container > * {
	display: flex;
}
#website-name-container button {
	background: transparent;
	color: black;
}
#website-name-fa {
	font-family: vazir;
	font-size: 50px;
	color: #f1bd07;
	background: transparent;
	margin-left: 10px;
}
#website-name-en {
	font-family: monospace;
	font-size: 30px;
	color: #c5bebe;
	background: transparent;
	margin-left: 10px;
}
#website-settings-container {
	width: 100%;
}
#website-settings {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #00749c;
}
.website-settings-item button {
	width: fit-content;
	margin: 5px 10px;
	display: flex;
	color: #c5bebe;
	font-size: 20px;
}
#management-section {
	display: none;
	background-color: #5660f2;
	min-height: 100vh;
	max-height: fit-content;
}
.setting-item {
	display: none;
}
#edit-menu {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: 250px;
	border-radius: 20px;
	background-color: white;
	padding: 15px;
}
#edit-menu input {
	width: 100%;
	height: 40px;
	margin: 5px 0;
	text-align: center;
	font-family: vazir, monospace;
	background-color: #e8f0fe;
}
.close-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
}
.close-btn i {
	color: red;
	font-size: 20px;
}
@media screen and (max-width: 600px) {
	.title {
		width: calc(90% - 10px);
	}
	header {
		width: 100%;
	}
	#sidebar {
		display: none !important;
	}
	main {
		width: 100%;
		margin: 2px 0 2px 0;
	}
	#logo i {
		font-size: 50px;
	}
	#general-info-section {
		width: 90%;
		display: flex;
		flex-direction: column;
	}
	#article-thumbnail {
		flex-direction: column;
		height: fit-content;
	}
	#container-at-inner {
		flex-direction: column;
		width: 100%;
	}
	#at-caption {
		border-radius: 0;
	}
	#at-alt,
	#at-title,
	#at-caption {
		width: calc(100% - 10px) !important;
		height: 40px;
		margin-bottom: 0 !important;
		margin-right: 0;
		margin-top: 2px;
	}
	#article-sections {
		width: 90%;
	}
	.tag-input-section {
		width: 90%;
	}
	.submit-section {
		width: 90%;
	}
}
