#scrollbar {
  position: absolute;
  top: 0;
  height: 4px;
  background-color: #f1bd07;
  z-index: 1000;
}
header {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: fit-content;
  width: 100%;
  top: 0;
  z-index: 100;
}
.header-icon {
  width: 30px;
  height: 30px;
  margin: 0 8px;
}

#first-header-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #272829;
}

header .search-bar-form {
  display: none;
}

.header-menu-btn {
  display: none;
  position: fixed;
  right: 5%;
  border: 0;
  font-size: 30px;
  background-color: transparent;
  color: royalblue;
  top: 0;
  margin-top: 0;
  transform: translateY(100%);
}

.close-mobile-menu-btn {
  display: none;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 130px;
  margin-left: 30px;
}
#second-row-logo {
  display: none;
}

#header-menu-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  padding: 20px 0;
  background-color: #272829;
  box-shadow: 0 20px 20px -15px #f1bd07;
}

#show-menu-btn {
  display: none;
}

#mobile-menu {
  display: none;
}

.menu-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu-li {
  display: inline-block;
  font-size: 1.1em;
  margin-left: 20px;
  font-family: Dirooz;
}
.menu-li a {
  color: #dad6d6;
}
.menu-li a:hover {
  color: #f1bd07;
}

.menu-li .container {
  display: flex;
  align-items: center;
}

.menu-li > .sub-menu-ul {
  display: none;
}

.sub-menu-ul {
  background-color: #45474b;
  border-radius: 10px;
  padding: 20px 30px 20px 20px;
  position: absolute;
  background-clip: padding-box;
}

.menu-li:hover > .sub-menu-ul {
  display: block;
}

.sub-menu-li {
  width: 100%;
  font-size: 1em;
  list-style-type: disc;
  font-style: normal;
  color: #f1bd07 !important;
  font-family: Dirooz;
}

.sub-menu-li a {
  width: 100%;
}

.sub-menu-li > .sub-menu-ul {
  display: none;
  border-right: 21px solid transparent;
  border-top: 20px solid transparent;
}

.sub-menu-li:hover > .sub-menu-ul {
  display: inline-block;
  width: max-content;
}
@media (max-width: 1300px) {
  header {
    height: fit-content;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  .header-icon {
    width: 25px;
    height: 25px;
    margin: 0 5px;
  }
  .menu-li {
    font-size: 1em;
  }
  .sub-menu-li {
    font-size: 1em;
  }
}
@media (max-width: 1000px) {
  #mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 100vh;
    background-color: #46474b;
    z-index: 200;
    right: -100%;
    transition: all 0.5s;
  }
  #close-mobile-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    width: calc(95% - 20px);
    height: 50px;
    background-color: #ff5c39;
    border: 0;
    border-radius: 10px;
  }
  #close-icon {
    width: 30px;
    height: 30px;
  }
  #mobile-menu-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
  }
  .mobile-menu-li {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(95% - 20px);
    padding: 10px;
    background-color: #1b1a1d;
    margin: 5px 0;
    border-radius: 10px;
  }
  .mobile-menu-link {
    font-size: 1.2em;
    color: royalblue;
  }
  .menu-icon {
    width: 25px;
    height: 25px;
    margin-left: 8px;
  }
  .collapse-btn {
    position: absolute;
    left: 8px;
    background: none;
    border: 0;
  }
  .collapse-icon {
    width: 20px;
    height: 20px;
  }
  #first-header-row {
    display: none;
  }
  #second-row-logo {
    display: block;
    width: 150px;
    height: 120px;
  }
  #header-menu-container {
    margin: 0;
  }
  #header-menu-nav {
    display: none;
  }

  #show-menu-btn {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: none;
    border: 0;
    font-size: 18px;
    font-family: Sepahbod;
    color: #dad6d6;
  }
  #menu-icon {
    width: 40px;
    height: 40px;
  }
}
