.drop-down-wrapper {
  scrollbar-width: thin;
  top: calc(100% + 21px);
}
.drop-down-item:hover::after {
  content: ">";
  position: absolute;
  color: #f1bd07;
  font-size: 18px;
}
.drop-down-item:hover > .drop-down-text {
  color: #f1bd07 !important;
  margin-right: 20px;
}
