@import url(Base.css);
@import url(Component.css);

body {
  background-color: #45474b;
  margin: 0;
  padding: 0;
}

#row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin: 230px auto;
}

main {
  order: 2;
  width: calc(64% - 20px);
  margin: 0 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: #272829;
}

footer .logo-container {
  height: fit-content;
  align-items: center;
  border: none;
  margin: 30px 0;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-self: flex-end;
  width: calc(100% - 40px);
  padding: 20px 20px;
}

.footer-bottom > section > nav > ul > li {
  display: inline-block;
  margin-right: 30px;
}

.footer-bottom > section > nav > ul > li > a {
  font-size: 20px;
}

@media (max-width: 1300px) {
  header {
    height: fit-content;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  .header-icon {
    width: 25px;
    height: 25px;
    margin: 0 5px;
  }

  .header-menu-container {
    height: fit-content;
    padding-bottom: 20px;
  }

  .menu-li {
    font-size: 1em;
  }
  .sub-menu-li {
    font-size: 1em;
  }

  #row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    margin: 200px auto;
  }

  main {
    order: 2;
    width: calc(60% - 20px);
    margin: 0 10px;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: calc(20% - 10px);
    overflow: hidden;
  }
  #left-sidebar {
    order: 3;
    margin-left: 10px;
  }
  #right-sidebar {
    order: 1;
    margin-right: 10px;
  }
  .sidebar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 15px 10px;
    text-align: center;
    border-radius: 10px;
    color: #f1bd07;
    background-color: #1b1a1d;
    font-family: Sepahbod;
    font-size: 1.4em;
  }
  .sidebar-icon {
    width: 30px;
    height: 30px;
    margin: 0 8px;
  }

  aside a {
    /* font-size: 0.93vw; */
    font-size: 20px;
  }

  #search-preview-container {
    display: none;
    flex-direction: column;
    width: calc(100% - 20px);
    position: absolute;
    background-color: #1b1a1d;
    border-radius: 10px;
    padding: 10px;
    top: 50px;
  }
  .search-preview-item {
    display: flex;
    width: calc(100% - 16px);
    padding: 8px;
    border-bottom: 1px solid #455364;
  }
  .search-preview-image {
    width: 60px;
    height: 60px;
    margin-left: 15px;
  }
  .search-preview-title {
    font-size: 1em;
    font-family: Sepahbod;
  }
  #no-preview-result-box {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1.1em;
    font-family: Dirooz;
    color: #dad6d6;
    text-align: center;
  }
  #all-tags-section-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .all-tags-ul-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
  }

  .all-posts-ul li a {
    width: fit-content;
  }

  .tag-count {
    font-family: Dirooz;
  }

  .sidebar {
    background-color: #272829;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
  }

  .sidebar-ul {
    width: 100%;
  }

  .sidebar-post-info {
    margin: 0 8px;
    width: calc(100% - 116px);
  }

  .sidebar-post-image-container {
    width: 100px;
    height: 100px;
  }

  .sidebar-post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #455364;
    padding-bottom: 5px;
  }

  .sidebar-item a {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: 25px;
    color: #f1bd07;
    cursor: pointer;
    font-family: Sepahbod;
  }

  .sidebar-btn i {
    display: none;
    color: royalblue;
    margin-right: 10px;
    transition: 0.3s;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: #272829;
  }

  footer .logo-container {
    height: fit-content;
    align-items: center;
    border: none;
    margin: 30px 0;
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-self: flex-end;
    width: calc(100% - 40px);
    padding: 20px 20px;
  }

  .footer-bottom > section > nav > ul > li {
    display: inline-block;
    margin-right: 30px;
  }

  .footer-bottom > section > nav > ul > li > a {
    font-size: 20px;
  }
}
