@font-face {
  font-family: Sepahbod;
  src: url(../Fonts/Dirooz.ttf) format(truetype);
}

@font-face {
  font-family: Dirooz;
  src: url(../Fonts/Dirooz.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  transition: color 0.2s, background-color 0.3s;
}

a {
  text-decoration: none;
  display: inline-block;
  color: royalblue;
  font-family: Dirooz;
}

button {
  cursor: pointer;
}

a,
li {
  cursor: pointer;
}

li {
  color: #ff5c39;
}

a:hover {
  color: #f1bd07 !important;
}

span {
  display: block;
}

input,
textarea {
  border: 0;
  outline: 0;
}

input,
textarea:focus {
  outline: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal !important;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #45474b;
  margin: 0;
  padding: 0;
}

#row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin: 230px auto 50px auto;
}

main {
  order: 2;
  width: calc(64% - 20px);
  margin: 0 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: #272829;
}

footer .logo-container {
  height: fit-content;
  align-items: center;
  border: none;
  margin: 30px 0;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-self: flex-end;
  width: calc(100% - 40px);
  padding: 20px 20px;
}

.footer-bottom > section > nav > ul > li {
  display: inline-block;
  margin-right: 30px;
}

.footer-bottom > section > nav > ul > li > a {
  font-size: 20px;
}

@media (max-width: 1300px) {
  #row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 230px auto 50px auto;
  }

  main {
    order: 2;
    width: calc(80% - 20px);
    margin: 0 10px 20px 10px;
  }

  #search-preview-container {
    display: none;
    flex-direction: column;
    width: calc(100% - 20px);
    position: absolute;
    background-color: #1b1a1d;
    border-radius: 10px;
    padding: 10px;
    top: 50px;
  }
  .search-preview-item {
    display: flex;
    width: calc(100% - 16px);
    padding: 8px;
    border-bottom: 1px solid #455364;
  }
  .search-preview-image {
    width: 60px;
    height: 60px;
    margin-left: 15px;
  }
  .search-preview-title {
    font-size: 1em;
    font-family: Sepahbod;
  }
  #no-preview-result-box {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 1.1em;
    font-family: Dirooz;
    color: #dad6d6;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    width: 100%;
    background-color: #272829;
  }

  footer .logo-container {
    height: fit-content;
    align-items: center;
    border: none;
    margin: 30px 0;
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-self: flex-end;
    width: calc(100% - 40px);
    padding: 20px 20px;
  }

  .footer-bottom > section > nav > ul > li {
    display: inline-block;
    margin-right: 30px;
  }

  .footer-bottom > section > nav > ul > li > a {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  #row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 180px auto 50px auto;
  }
  main {
    order: 1;
    width: 100%;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 600px) {
  #row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 140px auto 50px auto;
  }
}
