#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #272829;
  margin-bottom: 0;
  border-radius: 10px;
}

#article-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1b1a1d;
  margin-bottom: 20px;
  padding: 10px;
  width: calc(100% - 20px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#article-title {
  font-size: 1.6em;
  font-family: Sepahbod;
  color: #f1bd07;
  width: 100%;
}
.article-bottom-title {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  background-color: #1b1a1d;
  font-family: Sepahbod;
  color: #f1bd07;
  font-size: 1.3em;
}

#article-thumbnail {
  width: 600px;
  height: 400px;
  object-fit: fill;
  border-radius: 10px;
  margin: 0 auto;
}
#category {
  font-size: 1.1em;
  color: royalblue;
  font-family: Dirooz;
}

.category-name::after {
  content: "/";
  margin: 0 8px;
  color: royalblue;
}

#textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 50px 0;
}

.article-section {
  width: 90%;
}

.article-text {
  width: 100%;
  margin: 20px 0;
}

.sub-title {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  background-color: #1b1a1d;
  border-radius: 10px;
  font-family: Sepahbod;
  color: #f1bd07;
  font-size: 1.3em;
}

.date {
  color: #ff5c39;
  font-size: 15px;
  font-family: Sepahbod;
}

.text {
  font-family: Sepahbod;
  text-align: justify;
  font-size: 18px;
  color: #c5bebe;
}

.text a {
  color: royalblue;
  text-decoration: underline;
}

.info {
  text-align: center;
}

#article-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 100px);
  margin: 0 50px 50px 50px;
}
.article-bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 30px 20px;
  width: fit-content;
  height: fit-content;
  background-color: #45474b !important;
  border-radius: 10px;
  overflow: hidden;
}

#post-tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#tags-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
  font-size: 18px;
  background-color: #1b1a1d;
}
#author-section {
  width: 100%;
}
#author-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
}

#author-profile {
  margin-left: 20px;
}

#author-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: fill;
}

#profile {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

#profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: fill;
}

#author-name {
  font-size: 1.2em;
  font-family: Sepahbod;
  color: #f1bd07;
  text-align: center;
}

#author-biography {
  width: calc(100% - 140px);
  background-color: #1b1a1d;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.1em;
  font-family: Dirooz;
  color: #dad6d6;
}
#social-medias-ul {
  display: flex;
  list-style: none;
}
.social-media-li {
  margin: 0 10px;
}
.social-media-icon {
  width: 40px;
  height: 40px;
}

#short-link-container {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 8px;
  min-width: 200px;
  max-width: max-content;
  background-color: #1b1a55;
  margin-bottom: 50px;
  border-radius: 10px;
}

#short-link-container span:first-of-type {
  color: #f1bd07;
  font-family: Sepahbod;
}

#short-link-container span:first-of-type::after {
  content: " :";
  margin-left: 8px;
}

#short-link-input {
  font-size: 18px;
  color: #c5bebe;
  font-family: monospace;
}

#copy-short-link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border: 0;
  outline: 0;
  font-size: 30px;
  color: royalblue;
  background-color: transparent;
}

#social-medias {
  width: calc(100% - 16px);
  height: 134px;
  background-color: #1b1a55;
  border-radius: 10px;
  overflow: hidden;
}

#social-medias .title {
  font-size: 18px;
  margin: 15px 0;
  padding-bottom: 2px;
}

#social-medias-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}

#social-medias-nav ul {
  list-style-type: none;
}

#social-medias-nav ul li {
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  #content {
    margin-bottom: 0;
    border-radius: 0;
  }

  #article-header {
    margin: 0 0 30px 0;
    border-radius: 0;
  }

  .textarea {
    width: 100%;
    margin: 20px 0;
  }

  .text {
    width: 100%;
  }

  .sub-title {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 800px) {
  #article-thumbnail {
    width: 450px;
    height: 350px;
    object-fit: fill;
    border-radius: 10px;
    margin: 0 auto;
  }
  #textarea {
    width: 100%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 600px) {
  #article-thumbnail {
    width: 350px;
    height: 250px;
    object-fit: fill;
    border-radius: 10px;
    margin: 0 auto;
  }
  #article-title {
    font-size: 1.3em;
  }
  .sub-title {
    font-size: 1.1em;
  }
  .text {
    font-size: 16px;
  }
  #article-bottom {
    width: 100%;
    margin: 0;
  }
  #author-name {
    font-size: 1.1em;
  }
  #author-biography {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  #article-thumbnail {
    width: 300px;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
    margin: 0 auto;
  }
}
