#search-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.9);
}
#search-input-container {
  position: absolute !important;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  z-index: 300;
}
#search-input {
  width: calc(100% - 20px);
  height: 40px;
  padding: 10px;
  background-color: #1b1a1d;
  color: #dad6d6;
  font-size: 1.2em;
  font-family: Dirooz;
}
#search-input::placeholder {
  color: #dad6d6;
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ff4500;
  border: 0;
}
#show-search-overlay-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70px;
  position: absolute;
  border: 0;
  left: 0;
  background-color: #ff5c39;
}

#show-search-overlay-btn:hover {
  background-color: #f1bd07;
}
.search-icon {
  width: 25px;
  height: 25px;
}
#search-preview-container {
  display: none;
  flex-direction: column;
  width: calc(100% - 20px);
  overflow-y: scroll;
  position: absolute;
  background-color: #1b1a1d;
  padding: 10px;
  top: 62px;
  left: 0;
}
.search-preview-item {
  display: flex;
  width: calc(100% - 16px);
  padding: 8px;
  border-bottom: 1px solid #455364;
}
.search-preview-image {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}
.search-preview-title {
  font-size: 1em;
  font-family: Sepahbod;
}
#no-preview-result-box {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1.1em;
  font-family: Dirooz;
  color: #dad6d6;
  text-align: center;
}
@media screen and (max-width: 500px) {
  #search-input-container {
    width: 90%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
