.blur {
  filter: blur(20px);
}
.search-input {
  font-size: 1.2em;
  font-family: Dirooz;
}
.search {
  left: 0;
  top: 0;
}
.show-search-overlay-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70px;
  position: absolute;
  border: 0;
  left: 0;
}

.show-search-overlay-btn:hover {
  background-color: #f1bd07;
}
.search-icon {
  width: 25px;
  height: 25px;
}
.search-preview-container {
  display: none;
  scrollbar-width: none;
}
.search-preview-item {
  display: flex;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}
.search-preview-image {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}
.search-preview-title {
  font-size: 1em;
  font-family: Sepahbod;
}
.no-preview-result-box {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  font-family: Dirooz;
  text-align: center;
}
